* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu-container {
  color: #fff;
  background-color: #5995DA; 
  padding: 20px 0;
  display: flex;
  justify-content: center;

}

.menu {
  width: 900px;
  display: flex;
  justify-content:space-between;

 }

 .login {
  	margin-left: 20px;
  }

 .links {
  	display: flex;
  	justify-content: flex-end;
  	padding-right: 10px;
  }

.date {
	padding-left: 10px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;

 
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
 display: flex;
 justify-content: center;
}

.photo-grid {
	width: 900px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}